.MyDatePicker {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.Form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Inputs {
  display: flex;
  align-items: center;
}

.EventCard {
  display: flex;
  padding: 2px;
}

.Date {
  font-size: 1.2em;
  font-weight: bold;
  padding-right: 5px;
}
.Event {
  font-size: 1.2em;
}

@media (max-width: 500px) and (min-height: 401px) {
  .Form {
    margin: auto;
    flex-direction: row;
  }
  .Inputs {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-right: 25%;
  }
}
